html,
body {
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
background-color: #f8f9fa;
overflow-x: hidden;
color: #333;
}

.error {
  color: rgb(204, 0, 0);
  font-size: 10px;
  padding: 4px;
}