body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

header, footer{
    padding: 12px 0;
    border-bottom: 1px solid black;
}

footer{
    border-top: 1px solid black;
    border-bottom: 0;
    color: lightgray;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
}

.pageTitle{
    margin: 16px 0 8px;
}
.page-subtitle{
    margin: 0 0 16px;
    color: lightgray
}

#new{
    padding: 4px;
    text-align: center;
    border-radius: 12px;
    max-width: 200px;
}

.card-title{
    margin-top: 0;
    color: black;
}

.card-content{
    color: black;
    margin: 0px 0 16px;
}

.card-link{
    display: inline-block;
    background-color: grey;
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
}

.card-link:hover {
    background-color: darkgray;
}

.comment{
    border-left: 4px solid;
    margin: 10px 0;
    padding: 10px 14px;
    border-radius: 4px;
    text-align: left;
}

.comment h5 {
    margin: 0 0 6px 0;
}

.toggleBtn{
    border-radius: 4px;
    background-color: gray;
    color: white;
    padding: 6px 12px;
}

.toggleBtn:hover{
    background-color: darkgray
}           